@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  [id] {
    scroll-margin-top: 5rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  body {
    font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @apply bg-slate-50 text-slate-900;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
    text-rendering: optimizeLegibility;
  }

  img, video {
    image-rendering: auto;
  }
}
