@layer base {
  /* Preline: Adds pointer cursor to buttons */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* to ensure that when you click on an id link, the header will not cover the beginning of the content the id is pointing to */
  [id] {
    scroll-margin-top: 5rem;
  }

  /* to smoothly animate the scroll from one place to another place */
  @media (prefers-reduced-motion: no-preference) {
  }

  body {
    font-family:
      var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
    @apply bg-white text-gray-900 dark:bg-neutral-800 dark:text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-fraunces), ui-serif, Georgia, serif;
  }

  /* h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  } */
}
